
@font-face {
  font-family: 'DIN Pro';
  src: url(./assets/fonts/FontsFree-Net-DINPro-1.ttf);
}

#root {
  font-family: 'DIN Pro';
  overflow: hidden;

}

body {

  margin: 0;
  background-color: #e9ecef;
  font-family: 'DIN Pro';

}

.toast {
  box-shadow: none !important;
  border-radius: 16px !important;
}